<launch>
      <arg name="wheel_radius"            default="0.033"/>
      <arg name="wheel_radius_error"      default="0.005"/>
      <arg name="wheel_separation"        default="0.17"/>
      <arg name="wheel_separation_error"  default="0.02"/>
      <arg name="use_python"              default="false"/>
      <arg name="py_suffix"               value=".py"       if="$(arg use_python)"/>
      <arg name="py_suffix"               value=""          unless="$(arg use_python)"/>
      <arg name="is_simple"               default="true"/>

      <rosparam file="$(find joint_state_controller)/joint_state_controller.yaml" command="load"/>

      <!-- Convert joint states to TF transforms for rviz, etc -->
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" 
            respawn="false" output="screen"/>

      <!-- Use the simple controller -->
      <group if="$(arg is_simple)">
            <rosparam file="$(find bumperbot_controller)/config/simple_controller.yaml" command="load"/>

            <!-- Launch the controller manager with the wheel controller -->
            <node name="controller_manager" pkg="controller_manager" type="spawner"
                  respawn="false" output="screen" args="joint_state_controller wheel_left_controller wheel_right_controller" />

            <!-- Launch the simple controller -->
            <node name="simple_controller_node" pkg="bumperbot_controller" type="simple_controller_node$(arg py_suffix)"
                  output="screen" respawn="true">
                  <param name="wheel_radius"     value="$(arg wheel_radius)"/>
                  <param name="wheel_separation" value="$(arg wheel_separation)"/>
            </node>
      </group>

      <!-- Use the diff_drive_controller -->
      <group unless="$(arg is_simple)">
            <rosparam file="$(find bumperbot_controller)/config/diff_drive_controller.yaml" command="load"/>

            <!-- Launch the controller manager with the wheel controller -->
            <node name="controller_manager" pkg="controller_manager" type="spawner"
                  respawn="false" output="screen" args="joint_state_controller bumperbot_controller" />
      </group>

      <!-- Launch the noisy controller -->
      <node name="noisy_controller_node" pkg="bumperbot_controller" type="noisy_controller_node$(arg py_suffix)"
            output="screen" respawn="true">
            <param name="wheel_radius"     value="$(eval arg('wheel_radius') + arg('wheel_radius_error'))"/>
            <param name="wheel_separation" value="$(eval arg('wheel_separation') + arg('wheel_separation_error'))"/>
      </node>
     
</launch>
